<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/hotel.css" rel="stylesheet" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Grand Lubicz Uzdrowisko Ustka</title>
</head>

<body>
<div class="authenticated">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand  " href="/hotel">Grand Lubicz Uzdrowisko Ustka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="/hotel">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/room_reservation">Rezerwacja</a></li>
                <li class="nav-item"><a class="nav-link" href="/billing">Lista Rezerwacji</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Restauracja</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators slider">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <img class="d-block w-100 image" src="https://profitroom-uploads.fra1.digitaloceanspaces.com/grandlubiczuzdrowiskoustka3/1920x1080/16481191574492_hotelzzewzatrz5.jpeg?impolicy=website&width=570&height=531" alt="First slide">
            </div>
            <div class="carousel-item container-fluid">
                <img class="d-block w-100 image" src="https://profitroom-uploads.fra1.digitaloceanspaces.com/grandlubiczuzdrowiskoustka3/1500x700/16475211322355_hotelgrandlubicz190.jpg?updated=2022-03-17_13-46" alt="Second slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>

    <div class="room-card">
        <div class="heading">
            <h4>Nasze Pokoje</h4>
        </div>
        <div class="card-group">

            <div class="card">
                <img class="card-img-top" style="height: 200px; width: 100%;" src="https://r.profitroom.pl/grandlubiczuzdrowiskoustka3/images/rooms/201909091801500.01.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Apartament</h5>
                    <p class="card-text">Apartamenty Superior to definicja komfortu. Przestronna powierzchnia, układem przypominająca literę "L", w której nowoczesnosć łączy się z wygodą. Do dyspozycji Gości oddajemy 2  łazienki, garderobę, przestrzeń wypoczynkową oraz przestrzeń do pracy.

                        * balkon / taras
                        * w kształcie litery "L"
                        * stół + 4 krzesła
                        * 2 łazienki (wanna + prysznic)
                        * garderoba

                        Wszystkie pokoje zostały urządzone w nowoczesnej stylistyce, zaprojektowanej z myślą o zapewnieniu komfortu i dobrego samopoczucia naszym gościom. Design oraz wyposażenie pokoi z pewnością sprostają najbardziej wymagającym gustom. Wszystkie wyposażone zostały w bezszmerową klimatyzację, która umożliwia dostosowanie temperatury do indywidualnych potrzeb. W każdym pokoju znajduje się telefon, telewizor LCD, mini bar, szybkie bezprzewodowe łącze internetowe, szyfrowo zamykany sejf, suszarka do włosów, szlafrok oraz czajnik.</p>
                    <div class="facilities">
                        <span><i class="fas fa-building card-icon-building "></i>  50 m2</span><br>

                        <span><i class="fas fa-wifi card-icon" ></i>  Darmowe WiFi</span><br>
                        <span><i class="fas fa-users card-icon"></i>  Do 2 gości</span><br>
                        <span><i class="fas fa-bed card-icon"></i>  King Size</span>
                    </div>
                    <div class="rate">
                        <span>600 zł /noc</span><br>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" style="height: 200px; width: 100%;" src="https://r.profitroom.pl/grandlubiczuzdrowiskoustka3/images/rooms/202202111057550.3339_IMG.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Apartament Classic</h5>
                    <p class="card-text">Klasyczny apartament z wydzieloną częscią sypialnianą o łacznej powierzchni 50 m2.

                        * brak balkonu / tarasu
                        * skosy / półokrągłe okna

                        Wszystkie pokoje zostały urządzone w nowoczesnej stylistyce, zaprojektowanej z myślą o zapewnieniu komfortu i dobrego samopoczucia naszym gościom. Design oraz wyposażenie pokoi z pewnością sprostają najbardziej wymagającym gustom. Wszystkie wyposażone zostały w bezszmerową klimatyzację, która umożliwia dostosowanie temperatury do indywidualnych potrzeb. W każdym pokoju znajduje się telefon, telewizor LCD, mini bar, szybkie bezprzewodowe łącze internetowe, szyfrowo zamykany sejf, suszarka do włosów, szlafrok oraz czajnik.</p>
                    <div class="facilities">
                        <span><i class="fas fa-building card-icon-building "></i>  50 m2</span><br>

                        <span><i class="fas fa-wifi card-icon" ></i>  Darmowe WiFi</span><br>
                        <span><i class="fas fa-users card-icon"></i>  Do 3 gości</span><br>
                        <span><i class="fas fa-bed card-icon"></i>  King Size</span>
                    </div>
                    <div class="rate">
                        <span>630 zł /noc</span><br>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" style="height: 200px; width: 100%;" src="https://r.profitroom.pl/grandlubiczuzdrowiskoustka3/images/rooms/202202111058550.246_IMG.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Apartament Premium</h5>
                    <p class="card-text">Każdy z apartamentów Premium wyróżnia się swoim indywidualnym designem i nowoczenością. Wnętrza zostały zaprojektowane z myślą o najwyższym komforcie.

                        * balkon / taras

                        Wszystkie pokoje zostały urządzone w nowoczesnej stylistyce, zaprojektowanej z myślą o zapewnieniu komfortu i dobrego samopoczucia naszym gościom. Design oraz wyposażenie pokoi z pewnością sprostają najbardziej wymagającym gustom. Wszystkie wyposażone zostały w bezszmerową klimatyzację, która umożliwia dostosowanie temperatury do indywidualnych potrzeb. W każdym pokoju znajduje się telefon, telewizor LCD, mini bar, szybkie bezprzewodowe łącze internetowe, szyfrowo zamykany sejf, suszarka do włosów, szlafrok oraz czajnik.</p>
                    <div class="facilities">
                        <span><i class="fas fa-building card-icon-building "></i>  50 m2</span><br>

                        <span><i class="fas fa-wifi card-icon" ></i>  Darmowe WiFi</span><br>
                        <span><i class="fas fa-users card-icon"></i>  Do 2 gości</span><br>
                        <span><i class="fas fa-bed card-icon"></i>  King Size</span>
                    </div>
                    <div class="rate">
                        <span>680 zł /noc</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>